#red{
	background: red;
}

#blue{
	background: blue;
}

#green{
	background: green;
}

#purple{
	background: purple;
}

#gray{
	background: gray;
}

#fuchsia{
	background: fuchsia;
}

#yellow{
	background: yellow;
}

#content{
	margin-top: 75px;
}

body{
	background-color: fuchsia;
}

#beauty{
	

}

#BigEarrings{

}

#NiceBracelets{

}

#ExpensiveBracelets{

}

.thumbnail{
	height: 300px;
	width: 200px;
}